<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>Интернет-магазин</h1>
  </div>
  <div class="nav">
    <p><a href="/">Домашняя страница</a> > <a href="/sell/">Продать</a> > <a href="">Добавить новые продукты</a></p>
  </div>
  <h2>Добавить продукт:</h2>
  <form action="" method="POST">
    <table>
      <tr>
        <td>НАЗВАНИЕ: </td><td><input type="text" name="name" required></td>
      </tr>
      <tr>
        <td>КОЛИЧЕСТВО: </td><td><input type="number" name="qty" min="0" required></td>
      </tr>
      <tr>
        <td>КАТЕГОРИЯ: </td>
        <td><select name="category" required>
          <option value="" disabled selected>ВЫБЕРИТЕ КАТЕГОРИЮ</option>
          <option value="Брюки">БРЮКИ</option>
          <option value="Блузы">БЛУЗЫ</option>
          <option value="Пальто">ПАЛЬТО</option>
          <option value="Свитера">СВИТЕРА</option>
          <option value="Юбки">ЮБКИ</option>
        </select></td>
      </tr>
      <tr>
        <td>ЦЕНА: </td><td><input type="number" name="price" min="0" required></td>
      </tr>
      <tr>
        <td>ОПИСАНИЕ: </td><td><textarea name="desc"></textarea></td>
      </tr>
    </table>
    <input type="submit" value="Добавить продукт" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
  </form>
</body>
</html>
