<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>Интернет-магазин</h1>
  </div>
  <div class="nav">
    <p><a href="/">Домашняя страница</a> > <a href="">Поменять пароль</a></p>
  </div>
  <h2>Смена пароля</h2>
  {% if not check %}
    <p>Введённый пароль не соответствует записанному</p>
  {% endif %}
  {% if not equal %}
    <p>Поля с новым пролем не совпадают, введите одинаковые пароли</p>
  {% endif %}
  <form action="" method="POST">
    <table>
      <tr>
        <td>ТЕКУЩИЙ ПАРОЛЬ :</td><td><input type="password" name="old_psswd"></td>
      </tr>
      <tr>
        <td>НОВЫЙ ПАРОЛЬ :</td><td><input type="password" name="new_psswd"></td>
      </tr>
      <tr>
        <td>ПОДТВЕРЖДЕНИЕ НОВОГО ПАРОЛЯ :</td><td><input type="password" name="cnfrm_psswd"></td>
      </tr>
    </table>
    <input type="submit" value="Установить новый пароль" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
  </form>
</body>
</html>
