<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Times New Roman|Times New Roman" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>Интернет-магазин</h1></div>
  <ul class="headbar">
    <li><a href="/">Домашняя страница</a></li>
    <li><a href="/signup">Создать аккаунт</a></li>
    {% if signedin %}
      <li><a href="/logout">Выйти</a></li>
    {% else %}
      <li><a href="/login">Войти</a></li>
    {% endif %}
  </ul>
  {% if signedin %}
    <p><br/>Вход по именем {{name}} -> {{type}} аккаунт</p>
    <div class="centerthis">
    <p class="press"><a href="/viewprofile/">Смотреть профили</a></p>
    <p class="press"><a href="/editprofile">Редактировать профиль</a></p>
    {% if type=="Customer" %}
      <p class="press"><a href="/buy">Купить</a></p>
    {% elif type=="Seller" %}
      <p class="press"><a href="/sell">Продать</a></p>
    {% endif %}
    <p class="press"><a href="/changepassword">Сменить пароль</a></p>
    </div>
  {% else %}
    <p><br/>Вы не вошли в аккаунт. Войдите, чтобы посмотреть продукты и профили.</p>
  {% endif %}
  </div>
</body>
</html>
