<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>Интернет-магазин</h1>
  </div>
  <div class="nav">
    <p><a href="/">Домашняя страница</a> > <a href="/viewprofile/">Смотреть профили</a></p>
  </div>
  <div class="centerthis">
  <p class="press"><a href="/viewprofile/{{id}}/">Мой профиль</a></p>
  <p>ИЛИ</p>
  <p>Искать {{type}}:</p>
  <form action="" method="POST">
    <input type="search" name="search" value="" placeholder="Search by Name">
    <input type="submit" value="Искать">
  </form>
  </div>
  {% if after_srch %}
    {% if found %}
    <table>
      <tr>
        <th>№</th><th>ИМЯ</th><th>EMAIL</th><th>ТЕЛЕФОН</th><th>АДРЕС</th>
      </tr>
      {% set cnt={'val':1} %}
      {% for items in results %}
      <tr>
        <td>{{cnt['val']}}</td><td><a href="/viewprofile/{{items[0]}}">{{items[1]}}</a></td>
        <td>{{items[2]}}</td><td>{{items[3]}}</td><td>{{items[4]}}, {{items[5]}}, {{items[6]}}</td>
      </tr>
      {%if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
      {% endfor %}
    </table>
    {% else %}
    <p>Не найдено подходящих {{type}}</p>
    {% endif %}
  {% endif %}
</body>
</html>
