<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>Интернет-магазин</h1>
  </div>
  <div class="nav">
  <p><a href="/">Домашняя страница</a> > <a href="/viewprofile">Смотреть профили</a> > <a href="/viewprofile/{{id}}">{{name}}</a> > <a href="">Продукты</a></p>
  </div>
  <h2>Продукты {{name}}</h2>
  {% if results|length==0 %}
  <p>У этого продавца ещё нет продуктов</p>
  {% else %}
  <table>
    <tr>
      <th>№</th><th>Название</th>
      <th>Категория</th><th>Цена</th><th></th>
    </tr>
    {% set cnt={'val':1} %}
    {% for i in results %}
    <tr>
      <td>{{cnt['val']}}</td> <td>{{i[1]}}</td>  <td>{{i[2]}}</td>    <td>{{i[3]}}</td>
     <td><a href="/viewproduct/{{i[0]}}" target="blank">Смотреть</a></td>
    </tr>
    {% if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
    {% endfor %}
  </table>
  {% endif %}
</body>
</html>
